trunk/CodeBlue_Simulator/src/META-INF/wsdl/localhost_8080/CodeBlue/CodeBlueAlert.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.codeblue.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.codeblue.com/">

<xs:element name="alert" type="tns:alert"/>

<xs:complexType name="alert">
<xs:sequence>
<xs:element name="idPaciente" type="xs:int"/>
<xs:element name="x" type="xs:double"/>
<xs:element name="y" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>